<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="転職用ポートフォリオ")
    meta(name="keywords" content="ポートフォリオ, コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    title chomeko`s Portfolio
  body
    header.header
      .header__toggle
        span
        span
        span
      nav.header__nav
        ul.header__list
          li.header__list__item
            a(href="#skill") Skill
          li.header__list__item
            a(href="#study") Study
          li.header__list__item
            a(href="#production") Production
          li.header__list__item
            a(href="#contact") Contact
      .header__links
        a(href="https://twitter.com/chomeko3o" target="_blank")
          span.twitter
        a(href="https://github.com/chomeko" target="_blank")
          span.github
    main
      section.top
        .top__container
          h1.top__title Chomeko`s Portfolio
            .top__wrapper
              .top__comment
              .top__table
                dl
                  dt 年齢 :
                  dd 31
                dl
                  dt 身長 :
                  dd 168cm
                dl
                  dt 誕生日 :
                  dd s64.1.1
                dl
                  dt 住所 :
                  dd 愛知県名古屋市
                dl
                  dt 趣味 :
                  dd GameとAnime
                dl
                  dt
                  dd 実務経験なし
                dl
                  dt
                  dd 独学１年目

      section.skill#skill
        .skill__container
          h2.title Skill
          span.title__line
          ul.skill__wrapper
            mixin skill__item(name, path, level)
              li.skill__item
                .skill__item__icon
                  .skill__item__name= name
                  img.skill__item__img(src="img/" + path, alt= name)
                .skill__item__desc
                  .skill__item__level レベル #{level}
                  .skill__item__meter(style="background: linear-gradient(to right, #333333 " + level + "%, #fff " + level + "%)")
            +skill__item("HTML", "https___cdn.svgporn.com_logos_html-5.svg-0.svg", "50")
            +skill__item("Pug", "https___cdn.svgporn.com_logos_pug.svg-0.svg", "50")
            +skill__item("Sass", "https___cdn.svgporn.com_logos_sass2.svg-0.svg", "50")
            +skill__item("Gulp", "https___cdn.svgporn.com_logos_gulp.svg-0.svg", "50")
            +skill__item("Bootstrap", "https___cdn.svgporn.com_logos_bootstrap.svg-0.svg", "50")
            +skill__item("Rails", "https___cdn.svgporn.com_logos_rails2.svg-0.svg", "40")
            +skill__item("React", "https___cdn.svgporn.com_logos_react2.svg-0.svg", "20")
            +skill__item("JavaScript", "https___cdn.svgporn.com_logos_javascript.svg-0.svg", "20")
        .skill__container
            h2.title Tool
            span.title__line
            ul.skill__wrapper
              mixin skill__item(name, path, level)
                li.skill__item
                  .skill__item__icon
                    .skill__item__name= name
                    img.skill__item__img(src="img/" + path, alt= name)
                  .skill__item__desc
                    .skill__item__level レベル #{level}
                    .skill__item__meter(style="background: linear-gradient(to right, #333333 " + level + "%, #fff " + level + "%)")
              +skill__item("Vscode", "file_type_vscode_icon_130084.svg", "50")
              +skill__item("Github", "github_badge.svg","60")
              +skill__item("XD", "adobe_xd_folder_icon_133957.svg","40")
              +skill__item("Slack", "slack-icon.svg","40")

      section.study#study
        .study__container
          .modal
            .modal__title 平成30年3月24日プログラミング勉強開始
            .modal__line
            table
              dl
                dt 3月24日
                dd progateでHtml&css,Ruby,Ruby on Railを学ぶ
              dl
                dt 5月4日
                dd 現在の仕事で使う計算機を開発する
              dl
                dt 5月30日
                dd 5月30日Railsチュートリアルを２週完了
              dl
                dt 5月31日
                dd 現場で使えるRuby on rails5速習実践ガイド（書籍）で勉強する
              dl
                dt 7月1日
                dd Ruby on railsでブログサイトを制作開始する
              dl
                dt 8月19日
                dd
                  | 8月19日にブログサイトPGMGの完成
                  br
                  | さくらのVPSにcentos7+Apache+puma+mysqlcapistranoで デプロイしています。
              dl
                dt 9月8日
                dd
                  | Google Adsenseに合格する
                  br
                  | 微々たるものだけどここで初めて自分の制作したもので収益がでる。
                  br
              dl
                dt 11月29日
                dd ブログのデザインを変更する
              dl
                dt 11月30日
                dd
                  | gulp,sass,emmetを使ってフロント側の強化開始
                  br
                  | 書籍をgulp,sass,emmetに書き換えて勉強してみる
                  br
                  | deploy先をnetlifyにして簡単にデプロイできて感動する。
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
              dl
                dt
                dd
          h2.title Study record
          span.title__line
          .study__wrapper
            p.study__text__top 平成30年3月24日
            p.study__text__middle プログラミング勉強開始
            p.study__text__bottom
              | プログラミング勉強を始めてから自分が何を
              br
              | してきたかを簡単にまとめました
            a.btn__wrapper(href="#")
              p 勉強記録を見る

      section.production#production
        .production__container
          h2.title Production
          span.title__line
          .production__wrapper
            -
              var arr = [
                {
                  'title': 'Calculator',
                  'path': 'img/calculator.png',
                  'tex': 'Ruby on railsをProgateで勉強し１ヶ月後に初めて作った作品になります。現職で使える計算機です'
                },
                {
                  'title': 'PGMG',
                  'path': 'img/pgmg.png',
                  'tex': 'Ruby on railsチュートリアル後に作成したブログサイトになります。勉強したことを記事にしてます'
                },
                {
                  'title': 'デイトラ2nd',
                  'path': 'img/daytry.png',
                  'tex': 'Html＆cssの理解を深めるために、はにわさんのデイトラ2ndをやりました。gulp,pug,sassを使って初めてコーディングしてます'
                },
                {
                  'title': 'Bell',
                  'path': 'img/bell.png',
                  'tex': 'Reactに興味を持ち勉強後、twitterの1週間企画に参加して初めてReactで作成しました。Redux,persist,firebaseで作りました'
                },
                {
                  'title': 'Portfolio',
                  'path': 'img/portfolio.png',
                  'tex': '就職活動をするためポートフォリオの作成をしました。XDで自分でデザインをし、gulp,pug,sassでコーディングしています'
                },
              ];
            ul.production__list
              each item in arr
                li.production__item
                  p.production__item__title !{item.title}
                  p.production__item__text !{item.tex}
                    .btn-wrapper
                      a(href="#")
                        | もっと見る
                  .production__item__img
                    img(src=`${item.path}`, alt= `${title}`)

      section.contact#contact
        .contact__container
          .contact__wrapper
            h2.title contact
            span.title__line
            form
              input(id="name" name="name" type="text" placeholder="Name")
              input(id="email" name="email" type="text" placeholder="Email")
              textarea(id="commet" name="commet", cols="30", rows="10")
              a.btn(id="submit" name="submit" type="submit")
                p submit
    footer.footer
      .footer__topbtn
      .footer__copyrite
        small ©️chomeko portfolio

    <!-- script置き場 -->
    script(type="text/javascript" src="js/jquery-3.5.0.min.js")
    script(src="js/toggle.min.js")
    script(src="js/topbtn.min.js")
    script(src="js/comment.min.js")